.seperater {
  
  border-bottom: 8vw solid #c9e3f7;
  border-left: 70px solid transparent;
}

.custom-diagonal-line-through {
  position: relative;
}

.custom-diagonal-line-through::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 2px; /* Adjust the thickness of the line */
  background-color: red; /* Adjust the color of the line */
  transform: rotate(45deg); /* Rotate the line to create a diagonal effect */
  transform-origin: 1 0; /* Set the rotation origin to the top-left corner */
}
