.seperater {
  
  width: 10%;
  height:100%;
  border-bottom: 6.7vw solid #C9E3F7; 
  border-left: 80px solid transparent; 

}

.custom-diagonal-line-through {
  position: relative;
}

.custom-diagonal-line-through::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 2px; /* Adjust the thickness of the line */
  background-color: red; /* Adjust the color of the line */
  transform: rotate(45deg); /* Rotate the line to create a diagonal effect */
  transform-origin: 1 0; /* Set the rotation origin to the top-left corner */
}